<fieldset [formGroup]="form">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="address1">Address Line 1</label>
      <input id="address1" type="text" class="form-control" formControlName="address1" />
      <app-field-errors [errors]="fieldErrors('address.address1')"></app-field-errors>
    </div>
    <div class="col-sm-6 form-group">
      <label for="address2">Address Line 2</label>
      <input id="address2" type="text" class="form-control" formControlName="address2" />
    </div>
    <div class="col-sm-6 form-group">
      <label for="city">City</label>
      <input id="city" type="text" class="form-control" formControlName="city" />
      <app-field-errors [errors]="fieldErrors('address.city')"></app-field-errors>
    </div>
    <div class="col-sm-6 form-group">
      <label for="state">State</label>
      <div class="select-wrapper">
        <select id="state" class="form-control" formControlName="state">
          <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
        </select>
      </div>
      <app-field-errors [errors]="fieldErrors('address.state')"></app-field-errors>
    </div>
    <div class="col-sm-6 form-group">
      <label for="zip">ZipCode</label>
      <input id="zip" type="text" class="form-control" formControlName="zip" />
      <app-field-errors [errors]="fieldErrors('address.zip')"></app-field-errors>
    </div>
  </div>
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="country" />
</fieldset>
