<div class="container-fluid pass-reset-confirm h-100">
  <div class="row flex-row h-100 bg-white">
    <!-- Begin Left Content -->
    <div class="col-xl-8 col-lg-6 col-md-6 login-header-col">
      <div class="overlay-image"></div>
      <!--      <img src="assets/img/Clip.png" class="login-image">-->
      <img src="assets/img/Shape-1.png" class="login-wave">
      <img src="assets/img/SolvPath-Logo-White.png" class="login-logo">
      <h1 class="login-title">Welcome to Solvpath</h1>
    </div>
    <!-- End Left Content -->
    <!-- Begin Right Content -->
    <div class="col-xl-4 col-lg-6 col-md-6 my-auto pass-reset-col">
      <!-- Begin Form -->
      <div class="authentication-form mx-auto">
        <div class="logo-centered password-reset-logo">
          <a href="/">
            <img src="assets/img/SolvPath-Logo.png" alt="logo" class="img-fluid">
          </a>
        </div>
        <app-alert></app-alert>
        <h3>Create a New Password</h3>
        <form [formGroup]="form" (ngSubmit)="resetPasswordConfirm()" novalidate>
          <div class="group material-input">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" minlength="8">
            <app-field-errors [errors]="fieldErrors('password')"></app-field-errors>
            <span class="highlight"></span>
            <span class="bar"></span>
            <!-- <label>Password</label> -->
          </div>
          <div class="group material-input">
            <input type="password" class="form-control" formControlName="cpassword" placeholder="Confirm Password" >
            <app-field-errors [errors]="fieldErrors('cpassword')"></app-field-errors>
            <span class="highlight"></span>
            <span class="bar"></span>
            <!-- <label>Confirm Password</label> -->
          </div>
          <div class="sign-btn text-center">
            <button [disabled]="loading" class="btn btn-lg btn-primary">
              Save Password
            </button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </form>
      </div>
      <!-- End Form -->
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
