<div class="container-fluid pass-reset-success h-100">
  <div class="row flex-row h-100 bg-white  login-row">
    <!-- Begin Left Content -->
    <div class="col-xl-8 col-lg-6 col-md-6 login-header-col">
      <div class="overlay-image"></div>
      <!--      <img src="assets/img/Clip.png" class="login-image">-->
      <img src="assets/img/Shape-1.png" class="login-wave">
      <img src="assets/img/SolvPath-Logo-White.png" class="login-logo">
      <h1 class="login-title">Welcome to Solvpath!</h1>
    </div>
    <!-- End Left Content -->
    <!-- Begin Right Content -->
    <div class="col-xl-4 col-lg-6 col-md-6 my-auto pass-reset-success-col">
      <!-- Begin Form -->
      <div class="authentication-form mx-auto">
        <div class="logo-centered">
          <a [routerLink]="['/']">
            <img src="assets/img/SolvPath-Logo.png" alt="logo" class="img-fluid logo-1">
          </a>
        </div>
        <div class="alert alert-success">Check your email for a link to reset your password. If you don’t see if check your junk folder</div>
      </div>
      <!-- End Form -->
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
