<div class="container-fluid reset-pass-container h-100">
  <div class="row flex-row h-100 bg-white login-row">
    <!-- Begin Left Content -->
    <div class="col-xl-8 col-lg-6 col-md-6 login-header-col">
      <div class="overlay-image"></div>
      <!--      <img src="assets/img/Clip.png" class="login-image">-->
      <img src="assets/img/Shape-1.png" class="login-wave">
      <img src="assets/img/SolvPath-Logo-White.png" class="login-logo">
      <h1 class="login-title">Welcome to Solvpath</h1>
    </div>
    <!-- End Left Content -->
    <!-- Begin Right Content -->
    <div class="col-xl-4 col-lg-6 col-md-6 my-auto regist-form login-form">
      <!-- Begin Form -->
      <div class="authentication-form mx-auto">
        <div class="logo-centered">
          <a [routerLink]="['/']">
            <img src="assets/img/SolvPath-Logo.png" alt="logo" class="img-fluid logo-1">
          </a>
        </div>
        <app-alert></app-alert>
        <h3 class="sign-in-txt">{{pageTitle}}</h3>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="group material-input">
            <input type="text" formControlName="email" name="reset-password" id="rpassword" [ngClass]="{'field-valid': isFieldValid('email'),
              'field-invalid': isFieldInvalid('email')}" />
            <label for="rpassword">{{getAppropriateError('email')? getAppropriateError('email'): "Email *"}}</label>
          </div>
          <div class="sign-btn text-center sign-in-btn">
            <button [disabled]="loading" class="btn btn-lg btn-primary reset-password-btn">
              {{pageTitle}}
            </button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </form>
      </div>
      <!-- End Form -->
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
