.widget.has-shadow { background: none !important; box-shadow: none; margin-bottom: 0; }
.widget.has-shadow .widget-body { padding: 0px; }

.phone-call-icon {
  color: #33bcd7;
  background: rgba(51, 188, 215, 0.15);
}

.chart-titles {
  min-height: 40px;
}

.revised-order-chart-wrapper {
  display: block;
  margin-top: -25px
}

.sessions-desc {
  display: flex;
  align-items: center;
}

.canvas-max-w-h {
  max-width: 20rem !important;
  max-height: 20rem !important;
}

.canvas-max-h {
  max-height: 300px !important;
}

.self-service-rate-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.bar-chart-legend {
  position: relative;
  color: #b1bec4;
  margin-left: 30px;
  display: inline-block;
  float: right;
  width: 75px;
}

li.bar-chart-legend:first-of-type {
  text-align: right;
}

.bar-chart-legend-icon {
  margin-left: -8px;
}

.bar-chart-legend-icon-cancelled {
  margin-left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.revised-chart {
  margin-right: -20px;
}

.bar-chart-legend {
  left: -15px !important;
}

.legend-list {
  min-height: 50px;
  margin-right: -15px;
}

.chart-legends-container {
  position: relative;
  width: auto;
  text-align: right;
  justify-content: flex-end;
}

span.chart-legend-icon {
  width: 10px;
  height: 10px;
  border: 3px solid #33bcd7;
  border-radius: 100%;
  margin-right: 10px;
}

span.chart-legend-text {
  color: #b1bec4;
}

.max-height-width {
  max-height: 20rem;
  max-width: 20rem;
  margin: 0 auto;
}

.min-height-50 {
  min-height: 50px;
}

.cancellation-chart {
  display: inline-block;
  margin-left: 10px;
}

.chart-legend {
  display: inline;
  margin-right: 10px;
}

.order-operations-chart {
  max-height: 550px;
}

a.dashboard-report-link {
  color: #2eb3c9;
  font-weight: normal;
  text-decoration: underline;
  float: right;
  margin-top: 0px;
}

.revenues-link {
  margin-top: 0px !important;
}

a.cancellation-link-report {
  color: #2eb3c9;
  font-weight: normal;
  text-decoration: underline;
  float: none;
  margin-top: 0 !important;
  margin-right: auto;
  margin-left: 5px;
}

.donut-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-user-and-campaign {
  display: flex;
  align-items: baseline;
}

.select-campaign {
  width: 100%;
  display: inline-block;
}

.toggle-test-user {
  display: inline-block;
  float: right;
}

.dashboard-filters-form .select-wrapper select {
  height: 40px;
}

.card-title {
  display: inline-block !important;
}

.hangups-toggle {
  margin-right: 25px;
}

@media only screen and (max-width: 1725px) {
  .revenues-link {
    margin: 0 !important;
    float: none !important;
  }

  .chart-titles {
    min-height: auto;
    margin-bottom: 5px;
  }

  .title-with-empty-url {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 992px) {
  .revenues-link {
    margin-top: -40px !important;
    float: right !important;
  }

  .chart-titles {
    min-height: 40px;
    margin-bottom: 0px;
  }

  .title-with-empty-url {
    margin-bottom: 0px;
  }
  .select-campaign {
    width: 50%;
    display: inline-block;
  }
}

@media only screen and (max-width: 650px) {
  .chart-legends-container {
    position: absolute;
    top: 43px;
    right: 0;
    padding-top: 15px;
  }

  .revised-order-chart-wrapper {
    margin-top: 0;
  }
  .toggle-test-user {
    margin-bottom: 1rem
  }
}

@media only screen and (max-width: 575px) {
  .revenues-link {
    margin: 0 !important;
    float: none !important;
  }

  .chart-titles {
    min-height: auto;
    margin-bottom: 5px;
  }

  .title-with-empty-url {
    margin-bottom: 48px;
  }

  a.dashboard-report-link {
    margin-top: -25px;
  }

  a.cancellation-link-report {
    margin-top: -2px !important;
  }
  .select-user-and-campaign {
    display: block;
    margin-bottom: 1rem;
  }

  .select-campaign {
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .dashboard-filters-form .d-flex {
    display: block !important;
  }

  .dashboard-filters-form .form-group {
    margin-right: 0 !important;
  }

  .dashboard-filters-form .dropdown-toggle {
    width: 100%;
  }

  .dashboard-filters-form .dropdown-menu.show {
    width: 100%;
  }

  .datePickerCol input {
    font-size: 1rem;
  }
}

@media (max-width: 359px) {
  .min-height-80 {
    min-height: 80px;
  }
}
